<div>
  <input
    #checkboxDefer
    type="checkbox"
    [checked]="isCheckedDefer()"
    (change)="isCheckedDefer.set(checkboxDefer.checked)"
    id="checkboxDefer"
  />
  <label for="checkboxDefer">Open the network tab of the browser's developer tools, then check this checkbox to load the
    <strong>app-uno</strong> component</label>
</div>

<br />

@defer (when isCheckedDefer()) {
  <app-uno />
}
@placeholder {
  <span class="block">A &#64;placeholder block, it's rendered initially, before the &#64;defer block is triggered</span>
}
@error {
  <span class="block">If the loading fails, Angular shows the &#64;error block</span>
}
@loading(minimum 1s) {
  <span class="block">When the &#64;defer block is triggered, Angular loads the block's content from the server. During the loading, it shows the &#64;loading block</span>
}

<br />

<span class="comment">The use of the &#64;placeholder, &#64;loading and &#64;error blocks are optional, so we can use standalone &#64;defer blocks, too.</span>
